<!DOCTYPE html>
<html lang="en">

<head>
<!------------Head------------>
<%- include('./../partials/head') %>
</head>

<body>
  <header>
    <!------------Header------------>
    <%- include('./../partials/header') %>
  </header>

  <main>
    <h3 class="cart-titulo" >MI CARRITO</h3>
      <div class="productos">
          <article data-aos="fade-right">
            <img data-aos="fade-down" src="../../images/productos/<%=product.image%>" alt="prote" class="product_imagen">
            <div class="cart-text">
              <p class="cabezal-producto"><%=product.brand.name%></p>
              <h3 class="title"><%=product.name%></h4>
              <p class="precio">$<%=product.price%></p>
            </div>
            <div class="cant-text">
              <p class="cabezal-cantidad">Cantidad</p>
              
              <div class="cantidades">
              <i class="fas fa-minus"></i>
              <p>1</p>
              <i class="fas fa-plus"></i>
            </div>
            <p class="delete">Quitar</p>
            </div>
          </article>

          <div data-aos="fade-left" class="cart-total">
            <p>Total: <span>$<%=product.price%></span></p>
            <br><br>
            <button class="btn">COMPRAR</button>
          </div>
          
        </div>
  </main>

<!------------Footer------------>
<footer>
  <%- include('./../partials/footer') %>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
   
    AOS.init();
  </script>
</body>
</html>